@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --gradient: #14b8a6;

    --background: 0 0% 100%;

    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;

    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;

    --popover-foreground: 224 71.4% 4.1%;

    --primary: 128 89% 31%;
    --primary-foreground: 128 8.9% 96.55%;

    --secondary: 128 44.5% 9.3%;
    --secondary-foreground: 128 8.9% 96.55%;

    --muted: 220 14.3% 95.9%;

    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;

    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;

    --input: 220 13% 91%;

    --ring: 216 12.2% 83.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;

    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;

    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;

    --popover-foreground: 210 20% 98%;

    --primary: 128 89% 31%;
    --primary-foreground: 128 8.9% 96.55%;

    --secondary: 128 44.5% 9.3%;
    --secondary-foreground: 128 8.9% 96.55%;

    --muted: 215 27.9% 16.9%;

    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;

    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;

    --input: 215 27.9% 16.9%;

    --ring: 216 12.2% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply scroll-smooth;
    @apply scroll-mt-52;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  pre {
    @apply rounded-md bg-foreground p-2 text-background;
  }
  table {
    @apply m-0 w-full border-collapse overflow-hidden;
  }
  td,
  th {
    @apply border-b p-1;
  }
  th {
    @apply bg-secondary/10 text-left font-normal;
  }
}

.carousel-content {
  scroll-snap-type: x mandatory; /* Enables snap-to behavior */
}

.carousel-item {
  scroll-snap-align: start; /* Ensures each item aligns to the start when scrolling */
}
@layer utilities {
  .no-arrows {
    /* For Chrome, Safari, Edge, and Opera */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      @apply appearance-none;
    }

    /* For Firefox */
    & {
      @apply appearance-none;
    }
  }
}
